@import "./config.scss";

.login-page {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    .login-section {
        width: 100%;
        position: absolute;
        height: 100%;
        @include flex(center, center, 2rem);
        padding: 2rem;
        .left {
            position: relative;
            min-width: 500px;
            max-width: 500px;
            @include flex(start, center, 1rem, column);
            span {
                color: white;
                &.badge {
                    font-size: 12px;
                    text-transform: uppercase;
                    border-radius: 20px;
                    padding: 5px 10px;
                    background-color: rgba($pink-100, 0.2);
                }
                &:nth-of-type(2) {
                    font-size: 36px;
                    font-weight: bold;
                    font-family: "arial black";
                }
            }
        }
        .right {
            position: relative;
            padding: 2rem 1rem;
            min-width: 500px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba($pink-900, 0.4);
            background: white;
            @include flex(center, center, 2rem, column);
            .logo_container {
                @include flex(center, center, 0.5rem, column);
                span {
                    text-transform: uppercase;
                    font-size: 18px;
                    color: $pink-900;
                }
            }
            form {
                width: 100%;
                @include flex(center, center, 0.7rem, column);
                & > * {
                    width: 80%;
                }
            }
            & > .actions {
                font-size: 14px;
                @include flex(center, center, 0.5rem, column);
                .forgot_password {
                    cursor: pointer;
                }
                a {
                    color: $pink-500;
                }
            }
        }
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            background: url(../assets/images/donation-bg.png);
            width: 100vw;
            height: 100vh;
            background-position: top right;
            z-index: -1;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba($pink-900, 0.4);
            }
        }
        @include media(max, 1080px) {
            flex-direction: column;
            .left {
                display: none;
            }
        }
        @include media(max, 530px) {
            .right {
                min-width: 280px;
                width: 90vw;
                form > * {
                    width: 100%;
                }
            }
        }
    }
}
