.otp-page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.otp-page .otp-section {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 0;
}
.otp-page .otp-section .left {
  height: 100%;
  flex: 1.2;
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: auto;
  background-image: url(../assets/images/otp-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.otp-page .otp-section .left .logo_container {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.otp-page .otp-section .left .logo_container .logo {
  width: 50px;
}
.otp-page .otp-section .left .logo_container .name {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.1rem;
}
.otp-page .otp-section .left .logo_container .name span {
  font-size: 24px;
}
.otp-page .otp-section .left .logo_container .name span:first-of-type {
  font-weight: bold;
  color: #ffe3e7;
  font-size: 26px;
}
.otp-page .otp-section .left .logo_container .name span:last-of-type {
  color: #ffc0cb;
  font-weight: bold;
}
.otp-page .otp-section .left .content {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}
.otp-page .otp-section .left .content span {
  display: block;
}
.otp-page .otp-section .left .content span:first-of-type {
  font-weight: 400;
  font-size: 42px;
  color: #fff1f3;
}
.otp-page .otp-section .left .content span:last-of-type {
  font-size: 24px;
  color: white;
}
.otp-page .otp-section .left::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(248, 59, 102, 0.8);
}
.otp-page .otp-section .right {
  flex: 0.8;
  height: 100%;
  background-color: #111418;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.otp-page .otp-section .right .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  color: #929395;
}
.otp-page .otp-section .right .content .heading {
  font-size: 24px;
  color: white;
  font-weight: 400;
  text-align: center;
}
.otp-page .otp-section .right .content .desc {
  max-width: 80%;
  text-align: center;
}
.otp-page .otp-section .right form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  width: 80%;
}
.otp-page .otp-section .right form button {
  width: 100%;
  height: 50px;
  font-weight: 400;
  color: #8a113c;
  background-color: #ffa2b3;
}
.otp-page .otp-section .right form button:hover {
  color: lightgray;
  background: rgba(138, 17, 60, 0.8);
}
.otp-page .otp-section .right form button[disabled] {
  border-color: lightgray;
  color: lightgray;
  cursor: no-drop;
}
.otp-page .otp-section .right form .input {
  width: 100%;
}
.otp-page .otp-section .right form .input > div {
  background-color: #ffe3e7;
}
.otp-page .otp-section .right > span {
  color: white;
}
.otp-page .otp-section .right > span a {
  cursor: pointer;
  color: #ffa2b3;
}
@media (max-width: 1200px) {
  .otp-page .otp-section .right .content .desc,
  .otp-page .otp-section .right form {
    width: 100%;
  }
}
@media (max-width: 990px) {
  .otp-page .otp-section {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .otp-page .otp-section .left,
  .otp-page .otp-section .right {
    width: 100%;
    flex: 1;
  }
  .otp-page .otp-section .left {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }
  .otp-page .otp-section .left .logo_container {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media (max-width: 670px) {
  .otp-page .otp-section .left .content span:first-of-type {
    font-size: 30px;
  }
  .otp-page .otp-section .left .content span:last-of-type {
    font-size: 18px;
  }
}/*# sourceMappingURL=OTP.module.css.map */