@import "./config.scss";

.register-page {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    .register-section {
        width: 100%;
        position: relative;
        // position: absolute;
        height: 100%;
        @include flex(center, center, 2rem, row-reverse);
        padding: 2rem;
        .left {
            position: relative;
            min-width: 500px;
            max-width: 500px;
            @include flex(end, center, 1rem, column);
            span {
                color: white;
                text-align: right;
                &.badge {
                    font-size: 12px;
                    text-transform: uppercase;
                    border-radius: 20px;
                    padding: 5px 10px;
                    background-color: rgba($pink-100, 0.2);
                }
                &:nth-of-type(2) {
                    font-size: 36px;
                    font-weight: bold;
                    font-family: "arial black";
                    text-transform: uppercase;
                }
            }
        }
        .right {
            position: relative;
            padding: 2rem 1rem;
            min-width: 500px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba($pink-900, 0.4);
            background: white;
            // margin: 2rem 0;
            @include flex(center, center, 2rem, column);
            .logo_container {
                @include flex(center, center, 0.5rem, column);
                span {
                    text-transform: uppercase;
                    font-size: 18px;
                    color: $pink-900;
                }
            }
            .sections-container {
                width: 100%;
                @include flex(center, center, 0.7rem, column);
                & > * {
                    width: 100%;
                }
            }
            & > .actions {
                width: 100%;
                @include flex(center, space-between, 1rem);
                button {
                    color: $pink-500;
                    border-color: $pink-300;
                    &:hover {
                        background: rgba($pink-300, 0.2);
                    }
                    &[disabled] {
                        border-color: lightgray;
                        color: lightgray;
                        cursor: no-drop;
                    }
                }
            }
            & > .link_container {
                font-size: 14px;
                @include flex(center, center, 0.5rem, column);
                .forgot_password {
                    cursor: pointer;
                }
                a {
                    color: $pink-500;
                }
            }
        }
        .bg {
            position: fixed;
            top: 0;
            left: 0;
            background: url(../assets/images/donation-bg-2.jpg);
            width: 100vw;
            height: 100vh;
            background-position: top right;
            z-index: -1;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba($pink-900, 0.4);
            }
        }
        @include media(max, 1080px) {
            flex-direction: column;
            .left {
                display: none;
            }
        }
        @include media(max, 530px) {
            .right {
                min-width: 280px;
                width: 90vw;
                form > * {
                    width: 100%;
                }
            }
        }
        @include media-h(max, 720px) {
            justify-content: start;
            min-height: 100vh;
            height: auto;
            .bg {
                height: 100%;
            }
        }
    }
}

.customer-type-section {
    @include flex(center, center, 0.5rem, column);
    width: 100%;
    h2 {
        color: $pink-900;
        text-align: center;
    }
    .customer_type_container {
        @include flex(center, space-between, 1rem);
        width: 100%;
        .customer_type {
            @include flex(center, center, 0.5rem, column);
            padding: 1rem;
            background: transparent;
            border: 1px solid $pink-300;
            border-radius: 5px;
            width: 200px;
            min-height: 200px;
            cursor: pointer;
            transition: 200ms;
            i {
                font-size: 50px;
                color: $pink-300;
                transition: 200ms;
                pointer-events: none;
            }
            span {
                color: $pink-900;
                font-size: 16px;
                text-align: center;
                display: block;
                width: 100%;
                transition: 200ms;
                pointer-events: none;
            }
            &:hover {
                transform: scale(1.05);
            }
            &.active {
                background: $pink-300;
                i {
                    color: $pink-900;
                }
                span {
                    color: white;
                }
            }
        }
    }
}
.signup_form_section {
    width: 100%;
    @include flex(center, center, 0.7rem, column);
    h2 {
        color: $pink-900;
        text-align: center;
    }
    & > * {
        width: 80%;
        max-width: 500px;
    }
    .action {
        width: 100%;
        @include flex(center, center, auto);
        button {
            color: $pink-500;
            border-color: $pink-300;
            &:hover {
                background: rgba($pink-300, 0.2);
            }
            &[disabled] {
                border-color: lightgray;
                color: lightgray;
                cursor: no-drop;
            }
        }
    }
}
